
body {
  background: dimgrey;

  #canvas1{
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:5px solid wheat;
    width: 800px;
    height: 700px;
    transform:translate(-50%, -50%);

  }
  #playerImage, #playerImageDead, #playerImageJump, #playerImageRun{
    display: none;
  }

  #enemyImage{
    display: none;
  }

  #parallax{
    display: none;
  }

  .parallax {
    position:relative;
    top: 40px;
    left: 40px;
    height: 1300px;
    width: 1500px;
    overflow: hidden;
    perspective: 3px;
    display: none;


    /*  .character{
        position:
      }*/

    .sky {
      position: fixed;
      background-image: url("./img/11_background.png");
      background-attachment: scroll;
      background-position: center;
      background-repeat: repeat-y;
      background-size: cover;
      height: 1200px;
      width: 1500px;
      z-index: -1;
      display:none;
    }

    .Middle1 {
      position: fixed;
      background-image: url("./img/09_distant_clouds1.png"),
      url("./img/06_hill2.png");
      background-repeat: repeat-y;
      height: 1200px;
      width: 1500px;
      z-index: 0;
      display:none;
    }

    .Back {
      position: fixed;
      background-image: url("./img/07_huge_clouds.png");
      background-repeat: repeat-y;
      height: 1200px;
      width: 1500px;
      z-index: 1;
      display:none;
    }


    .Middle2 {
      position: fixed;
      background-image: url("./img/03_distant_trees.png"),
      url("./img/05_hill1.png"),
      url("./img/08_clouds.png");
      background-repeat: repeat-y;
      height: 1250px;
      width: 1500px;
      z-index: 3;
      display:none;
    }

    .top {
      position: fixed;
      background-image: url("./img/03_distant_trees.png");
      background-repeat: repeat-y;
      height: 1250px;
      width: 1500px;
      z-index: 4;
      display:none;
    }
    .floor {
      position: fixed;
      background-image: url("./img/01_ground.png");
      background-attachment: scroll;
      background-repeat: repeat-y;
      height: 1300px;
      width: 1500px;
      overflow:hidden;
      z-index: 4;
      transform: translateX();
      display:none;
    }
/*
    .character {
      position: fixed;
      left: 100px;
      bottom: 50px;
      z-index:5;
      background: blue;

    }*/

    .layer{

    }
  }

}





